.panel.panel-default
  .panel-heading Add a new family member
  .panel-body
    - user.object.relatives.build

    = user.fields_for :relatives, user.object.relatives do |relative|
      = hidden_field_tag :relative, true
      .form-group.mt-20
        = relative.text_field :fullname, autofocus: true, class: 'form-control', placeholder: 'Fullname'
      .form-group
        = relative.select :relation, Relation.all.map{|relation| [relation.name, relation.name]}, include_blank: 'Select relation'
      .form-group
        = relative.text_field :email,class: 'form-control', placeholder: "Email"
      .form-group
        = relative.text_field :phone_number, class: 'form-control', placeholder: "+91-7869352927"
      .form-group
        = relative.label :gender, "Gender"
        .radio
          %label
            = relative.radio_button :gender, 'male'
            Male
        .radio
          %label
            = relative.radio_button :gender, 'female'
            Female

      .form-group
        = relative.label :birthday, "Date of birth"
        %br
        = relative.date_select :birthday, {order: [:month, :day, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100}, {required: false, class: 'col-md-3 mr-50'}
        .clearfix

      - unless relative.object.new_record?                 
        = relative.check_box :_destroy
        = relative.label :_destroy, "Remove" , class: 'remove' 
        -#%button.btn.btn-danger{:type => "button"}
          %span.glyphicon.glyphicon-remove
          Remove        