.container
  .my-50

    .row
      .col-md-6.col-md-offset-3.text-center

        = link_to '/auth/facebook' do
          = image_tag("/assets/facebook_continue.jpg")

        .my-25
          = link_to '/auth/google_oauth2' do
            = image_tag("/assets/google_continue.jpg")

        .my-25
          = link_to '/auth/linkedin' do
            = image_tag("/assets/connect-linkedin.jpg")

        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render 'shared/devisemes'
          - if @token != nil
            = hidden_field_tag :invite_token, @token
          .form-group
            = f.text_field :fullname, autofocus: true, class: 'form-control', placeholder: 'Full Name'
          .form-group
            = f.email_field :email, class: 'form-control', placeholder: 'Email'
          .form-group
            = f.select :type, User::TYPE , class: 'form-control', include_blank: "Select profile type"
          .form-group
            = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'
          .form-group
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password Confirmation'
          .actions
            = f.submit "Sign up", class: 'btn btn-primary'
