.row              
  %h4 Appointments (#{@bookings.length}) 
  - @bookings.first(3).each do |booking|
    - room = booking.room
    .col-md-4
      = link_to room_path(room) do
        .panel.panel-default
          .panel-heading.preview
            = image_tag (room.photos[0].try(:image) ? room.photos[0].image.url(:medium) : '/assets/missing-room.jpg'), height: '200px'
          .panel-body.text-center
            %strong= room.practice.try(:capitalize)
  .clearfix        
  %strong= link_to "View more", "/users/#{@user.id}/bookings", class: 'pull-right'  if @bookings.length > 3



