.row
  %h4 
    Family members (#{@relatives.size})
    %a{href: "/edit?relative=true"}
      %button.btn-circle.btn.btn-primary{:type => "button"}
        %i.glyphicon.glyphicon-plus  
  - @relatives.each do |relative|
    .col-md-4
      .panel.panel-default
        .panel-heading.preview
          = image_tag("/assets/default-family-member.jpg")
        .panel-body.text-center
          %strong= relative.fullname.capitalize
  .clearfix        
  %strong= link_to "View more", "javascript:void(0)", class: 'pull-right'  if @relatives.length > 3



/ .container
/   .my-50
/     .row

/       .col-md-12

/         - if @relatives.size > 0
/           %h4
/             Family Members (#{@relatives.size})
/           .row
/             - @relatives.each do |relative|
/               .col-md-4{id: "relative_#{relative.id}"}
/                 .panel.panel-default
/                   .panel-heading.preview
/                     = image_tag("/assets/relative.jpg")
/                   .panel-body.text-center
/                     %strong= relative.name.titleize
/                     %br
/                     = relative.relation.titleize
/                     %br
/                     = link_to 'Remove',"/relative/#{relative.id}", method: :delete, remote: true
/         - else
/           %h4.text-center 
/             There is no family members yet.
            
/         .text-center
/           %h3= link_to "Add a new family member", edit_user_registration_path(relative: true)


