.row
  %h4 
    Family members (#{@relatives.size})
    - if @owner
      %a{href: "/edit?relative=true"}
        %button.btn-circle.btn.btn-primary{:type => "button"}
          %i.glyphicon.glyphicon-plus  
  - @relatives.each do |relative|
    .col-md-4
      .panel.panel-default
        .panel-heading.preview
          = image_tag("/assets/default-family-member.jpg")
        .panel-body.text-center
          %strong= relative.fullname.capitalize
  .clearfix        
  %strong= link_to "View more","/users/#{@user.id}/relatives", class: 'pull-right'  if @relatives.length > 3
