- count = @relatives.count

.row
  %h4 
    Family members (#{count})
    - if @owner
      %a{href: "/edit?relative=true"}
        %button.btn-circle.btn.btn-primary{:type => "button"}
          %i.glyphicon.glyphicon-plus  

  - if count>0        
    - @relatives.order('updated_at desc').first(3).each do |relative|
      .col-md-4
        .panel.panel-default
          .panel-heading.preview
            = image_tag("/assets/default-family-member.jpg")
          .panel-body.text-center
            %strong= relative.fullname.capitalize
            %br
            = relative.relation.titleize          
    .clearfix        
    %strong= link_to "View more","/patient/#{@user.id}/relatives", class: 'pull-right'  if count > 3

  -# else 
    / .see-all-link 
    /   There is no family members yet.
    /   - if @owner   
    /     %a{href: '/edit?relative=true'} Add a new family member  
