.row              
  %h4 
    Rooms (#{@rooms.length})
    - if @owner
      %a{href: room_steps_path}
        %button.btn-circle.btn.btn-primary{:type => "button"}
          %i.glyphicon.glyphicon-plus

  - @rooms.first(3).each do |room|
    .col-md-4
      = link_to room_path(room) do
        .panel.panel-default
          .panel-heading.preview
            = image_tag (room.photos[0].try(:image) ? room.photos[0].image.url(:medium) : '/assets/missing-room.jpg'), height: '200px'
          .panel-body.text-center
            %strong= room.practice.try(:capitalize)
  .clearfix        
  %strong= link_to "View more", "javascript:void(0)", class: 'pull-right'  if @rooms.length > 3