- @owner = (current_user == @user) ? true : false
- @friends = @user.friends.paginate(:page => params[:page], :per_page => 5)

.container

  .my-50
    .row
      %h4#count 
        Friends (#{@friends.size})
      - @friends.order('updated_at desc').each do |friend|
        .col-md-4{id: "friend_#{friend.id}"}
          - if @owner
            = link_to "/edit?friend=true&friend_id=#{friend.id}", class: 'pull-right' do 
              %button.btn-circle.btn.btn-primary{:type => "button"}
                %i.glyphicon.glyphicon-edit          
            = link_to "/friend/#{friend.id}", method: :delete, remote: true, class: 'pull-right' do 
              %button.btn-circle.btn.btn-danger{:type => "button"}
                %i.glyphicon.glyphicon-remove
          .panel.panel-default
            .panel-heading.preview
              = image_tag("/assets/default-friend.jpg")
            .panel-body.text-center
              %strong= friend.fullname.capitalize
    = will_paginate @friends