- @owner = (current_user == @user) ? true : false
- @relatives = @user.relatives

.container

  .my-50
    .row
      %h4#count
        Relatives (#{@relatives.size})
      - @relatives.each do |relative|
        .col-md-4{id: "relative_#{relative.id}"}
          - if @owner
            = link_to "/relative/#{relative.id}", method: :delete, remote: true, class: 'pull-right' do 
              %button.btn-circle.btn.btn-danger{:type => "button"}
                %i.glyphicon.glyphicon-remove
          .panel.panel-default
            .panel-heading.preview
              = image_tag("/assets/default-family-member.jpg")
            .panel-body.text-center
              %strong= relative.fullname.capitalize
              %br
              = relative.relation.titleize
           
