= form_for([@room, @room.purchases.new]) do |f|
  = f.hidden_field :room_id, value: @room.id
  = f.hidden_field :name, value: 'enterprise'
  = f.hidden_field :price, value: '499'
  %h4
    %span#message
  = f.submit "UPGRADE $499/month", class: "btn btn-primary btn-block"
