= form_for([@room, @room.purchases.new]) do |f|
  = f.hidden_field :room_id, value: @room.id
  %h4
    %span#message
  = check_box_tag "purchase[price]", '199'
  = label_tag "Featured"
  = f.submit "UPGRADE", class: "btn btn-primary wide"
