<div class="row">
  <%= render '/shared/sidebarnav' %>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Your purchases
      </div>
      <div class="panel-body">
        <% @rooms.each do |room| %>
          <% room.purchases.each do |purchase| %>
            <% if purchase.status %>
              <div class="row">
                
                <div class="col-md-6">
                  <%= link_to room_path(purchase.room) do %>
                    <%= image_tag purchase.room.photos[0].image.url(:thumb) %>
                  <% end %>
                </div>
                <div class="col-md-2">
                  <%= link_to user_path(purchase.user) do %>
                    <%= image_tag avatar_url(purchase.user), class: 'img-circle avatar-medium' %>
                  <% end %>
                </div>
                <div class="col-md-2 right">
                  <h4>$<%= purchase.price %></h4>
                </div>
              </div>
              <hr>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
