.row
  = render '/shared/sidebarnav'
  .col-md-9
    .panel.panel-default
      .panel-heading
        Your sales
      .panel-body
        - @sales.each do |sale|
          .row
            .col-md-6
              = link_to room_path(sale.room) do
                = image_tag sale.room.photos[0].image.url(:thumb)
            .col-md-2
              = link_to user_path(sale.room.user) do
                = image_tag avatar_url(sale.room.user), class: 'img-circle avatar-medium'
            .col-md-2.right
              %h4
                $#{sale.price}
          %hr/
