%nav.navbar.navbar-default.navbar-static-top

  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Doctors', root_path, class: 'navbar-brand'

    #navbar.navbar-collapse.collapse
      = form_tag search_path, class: 'nav navbar-nav navbar-form navbar-left', method: :get do
        .form-group
          = text_field_tag :search, params[:search], placeholder: 'City, Zip Code or State', class: 'form-control'


      %ul.nav.navbar-nav.navbar-right

        - if user_signed_in?

          %li= link_to 'List My Practice', room_steps_path
          %li= link_to icon('envelope', 'Messages'), conversations_path
          %li.nav-icon-btn.nav-icon-btn-danger.dropdown
            = render "shared/notifications"


          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "javascript:void(0)", :role => "button"}
              = image_tag avatar_url(current_user), class: 'img-circle avatar-small'
              = current_user.fullname
              %span.caret

            %ul.dropdown-menu
              - if doctor_logged_in?
                %li= link_to 'Dashboard', rooms_path
                %li.divider{:role => "separator"}
                %li= link_to 'My Listings', rooms_path
                %li= link_to 'My Leads', your_reservations_path
                %li= link_to 'My Reviews', your_reservations_path
                %li.divider{:role => "separator"}
              - else
                %li= link_to 'Dashboard', dashboard_path
                %li= link_to 'Profile', user_path(current_user.id)
                %li= link_to 'Appointments', your_trips_path
                %li= link_to 'Reviews', your_trips_path
                
              %li.divider{:role => "separator"}
              %li= link_to 'Edit Profile', edit_user_registration_path(personal: true)
              %li= link_to 'Logout', destroy_user_session_path, method: :delete
        
        - else
          %li= link_to 'Sign In', new_user_session_path
          %li= link_to 'Sign Up', new_user_registration_path

