<!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Doctors', root_path, class: 'navbar-brand' %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">

        <%= form_tag search_path, class: 'nav navbar-nav navbar-form navbar-left', method: :get do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], placeholder: 'City, Zip Code or State', class: 'form-control' %>
          </div>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
          <% if(user_signed_in?) %>
            <li><%= link_to 'List My Practice', new_room_path %></li>
            <li><%= link_to icon('envelope', 'Messages'), conversations_path %></li>
            <li><%= link_to icon('bell', 'Notifications'), conversations_path %></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">
              <%= image_tag avatar_url(current_user), class: 'img-circle avatar-small' %>&nbsp;
              <%= current_user.fullname %>
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% if current_user.account_type == "doctor" %>
                    <li><%= link_to 'Dashboard', rooms_path %></li>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to 'My Listings', rooms_path %></li>
                    <li><%= link_to 'My Leads', your_reservations_path %></li>
                    <li><%= link_to 'My Reviews', your_reservations_path %></li>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
 
                <% else %>
                <li><%= link_to 'Dashboard', rooms_path %></li>
                <li><%= link_to 'Profile', user_path(current_user.id) %></li>
                <li><%= link_to 'Appointments', your_trips_path %></li>
                <li><%= link_to 'Reviews', your_trips_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'Settings', edit_user_registration_path %></li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>

               
              
              <% end %>
          
              </ul>

            </li>
          <% else %>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
