<div class="row dashboard panel text-center">

     	<div class="col-md-3 borderright task">
     		<h3>1. List your practice</h3>
     		<p>Submit your practice to the directory. Our approval team will review your application and notify you when it's live.</p>
     		<i class="fa fa-check" aria-hidden="true"></i>
     	</div>
     	<div class="col-md-3 borderright task">
     		<h3>2. Raise your trustmeter</h3>
     		<p>Our alongrithm ranks your profile based on a trust meter store. Follow these steps on how to get raise your score.</p>
     		<a href="" class="btn btn-default">Raise your score</a>
     	</div>
     	<div class="col-md-3 borderright task">
     		<h3>3. Connect your leads</h3>
     		<p>Use our add-on tools to integrate your leads with your favorite lead management software. CRM, Email Marketing, Software...</p>
     		<a href="" class="btn btn-default">Connect Leads</a>
     	</div>
     	<div class="col-md-3 task">
     		<h3>4. Upgrade your account</h3>
     		<p>Want to be featured and increase your leads? Get your listing featured, earn more patients, all in a matter of minutes.</p>
     		<a href="" class="btn btn-default">Upgrade account</a>
     	</div>

</div>



<div class="col-md-12 nopadding">

      	<div class="col-md-4 nopadding">
      	<div class="panel task">
		      	<h2>Leads created</h2>
			      	<div class="col-md-6 nopadding">
			      		<a href="" class="btn btn-block btn-dark">All time</a>
			      	</div>
			      	<div class="col-md-6 nopadding">
			      		<a href="" class="btn btn-block btn-default">Last 30 days</a>
			      	</div>
			      	
		      		<p class="leads text-center"><%= current_user.reservations.count(:all) %></p>
		      		<a href="" class="btn btn-block btn-default">See all appointments</a>
		      		</div>
	    </div>



      	<div class=" row col-md-5">
<div class="col-md-12">
      	  	<div class="panel task">
	      		<h3>Messages</h3>
	      		
		          <% @conversations.each do |conversation| %>
		            <% other = conversation.sender == current_user ? conversation.recipient : conversation.sender %>
		              <%= link_to conversation_messages_path(conversation) do %>
	
			                 <div class="col-md-2">
			                    <%= image_tag avatar_url(other) %><br/> 
			                    <%= other.fullname %>
			                  </div>
			                  <div class="col-md-8">
			                  		<%= conversation.messages.last.content %>
			                  </div>
			                  
			                  <div class="col-md-2 date">
			                    	<%= conversation.messages.last.message_time %>
			                  </div>   

		              <% end %>
          			<% end %>
      </div>
      				</div>
      		</div>




      	<div class="col-md-3 nopadding text-center">
  	<div class="panel task">
		      		<%= image_tag avatar_url(current_user), class: 'img-circle dashimage' %><br/>
		      		<h4><%= current_user.fullname %></h4>
		      		<a href="" class="btn btn-block">View Profile</a>
		      		<a href="" class="btn btn-block">Edit Profile</a>
		      		</div>
		    </div>

</div>
