<div id="wrapper">
  <div id="sidebar">
    <div id="widget" class="sticky">

      <script>
        function initMap() {
          var mapDiv = document.getElementById('widget');
          var infowindow = null;
          var map = new google.maps.Map(mapDiv, {
            <% if @arrRooms.length > 0 %>
              center: {lat: <%= @arrRooms[0].latitude %>, lng: <%= @arrRooms[0].longitude %>},
            <% else %>
              center: {lat: 44.5403, lng: -78,5463},
            <% end %>
            zoom: 10
          });
          <% @arrRooms.each do |room| %>
            <% @photos = room.photos%>
            var marker = new google.maps.Marker({
              position: {lat: <%= room.latitude %>, lng: <%= room.longitude %>},
              title: "<%= room.listing_name %>",
            
             contentString: '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<div class="row">' +
                '<div class="">' +
                  '<div id="myCarousel" class="carousel slide" data-ride="carousel">' +
                    '<% if @photos %>' +
                      '<ol class="carousel-indicators">' +
                        '<% @photos.each do |photo| %>' +
                          '<li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>' +
                        '<% end %>' +
                      '</ol>' +
                    '<% end %>' +
                    '<div class="carousel-inner" role="listbox">' +
                      '<% if @photos %>' +
                        '<% @photos.each do |photo| %>' +
                          '<div class="item <%='active' if photo.id == @photos[0].id %>">' +
                            '<img src="<%= photo.image.url()%>" alt="Mountain View" style="width:190px;height:150px;">' +
                          '</div>' +
                        '<% end %>' +
                      '<% end %>' +
                    '</div>' +
                    '<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">' +
                      '<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>' +
                      '<span class="sr-only">Previous</span>'+
                    '</a>'+
                    '<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">'+
                      '<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>' +
                      '<span class="sr-only">Next</span>' +
                    '</a>' +
                  '</div>' +
                '</div>' +
              '</div>' +
            '<h3 id="firstHeading" class="firstHeading"><%= room.listing_name %></h3>'+
            '<h4 id="firstHeading" class="firstHeading"><%= room.category %></h4>'+
            '<div id="bodyContent">'+
            '</div>'
          });
            marker.setMap(map);
             marker.addListener('click', function() {
                if (infowindow) {
                infowindow.close();
                }
                infowindow = new google.maps.InfoWindow({
                content: '<a href="/rooms">'+this.contentString+'</a>'
              });
              infowindow.open(map, this);
             });
            
          <% end %>
        }
      </script>
      <!-- <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
          async defer></script> -->
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANqUD_Cbr7IantIEZIEIHNYEZ9gRMemdw&callback=initMap"
      type="text/javascript"></script>
    </div>
  </div>

  <div id="article">
    <div class="row">
      <div class="col-md-12">
        <%= search_form_for @search, url: search_path do |f| %>


          <hr>

          <div class="row">
            
            <div class="col-md-4">
                <%= f.select :city, [["miami","miami"], ["Texas City","Texas City"]], prompt: "Select...", class: "form-control" %>
            </div>
          
            <div class="col-md-4">
                <%= f.select :category_eq, [["Plastic Surgery","Plastic Surgery"], ["category_2","category_2"]], include_blank: "Select Category...", class: "form-control" %>
            </div>

          </div>

          <hr>

         
          <br>

          <div class="row">
            <%= f.submit "Search", class: "btn btn-primary" %>
          </div>

        <% end %>

        <hr>

        <div class="row">
          <% @arrRooms.each do |room| %>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading preview">
                  <% if room.photos.length > 0 %>
                    <%= image_tag room.photos[0].image.url(:medium)%>
                  <% else %>
                    <%= image_tag("/assets/missing.png")%>
                  <% end %>
                </div>
                <div class="panel-body">
                  <%= link_to room.listing_name, room %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- <script>
  $(function() {
    $('#start_date').date_picker({
      dateFormat: 'dd-mm-yy',
      minDate: 0,
      maxDate: '3m',
      onSelect: function(selected) {
        $('#end_date').date_picker('option', 'minDate', selected);
        $('#end_date').attr('disabled', false);
      }
    });
    $('#end_date').date_picker({
      dateFormat: 'dd-mm-yy',
      minDate: 0,
      maxDate: '3m',
      onSelect: function(selected) {
        $('#start_date').date_picker('option', 'maxDate', selected);
      }
    });
  })
</script> -->

<script>
$(function(){ // document ready
if (!!$('.sticky').offset()) { // make sure ".sticky" element exists
  var stickyTop = $('.sticky').offset().top; // returns number
  $(window).scroll(function(){ // scroll event
    var windowTop = $(window).scrollTop(); // returns number
    if (stickyTop < windowTop){
      $('.sticky').css({ position: 'fixed', top: 0 });
    }
    else {
      $('.sticky').css('position','static');
    }
  });
}
});
</script>