.container

  .my-50
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            Step1: To whom?
          .panel-body.box.text-center
            %h3.mb-20 Is this for you or someone else?

            - if is_user_profile_incomplete?
              = link_to booking_step_path(:second, refer:false, room_id: @room.id) do
                .col-md-6
                  = image_tag('missing-patient.jpg')
                  %h4
                    %strong You
            - else
              = link_to bookings_path(room_id: @room.id), method: :post do
                .col-md-6
                  = image_tag('missing-patient.jpg')
                  %h4
                    %strong You


            = link_to booking_step_path(:second, refer:true, room_id: @room.id) do
              .col-md-6
                = image_tag('plus-in-circle.png')
                %h4 
                  %strong Someone else

