.container
  .my-50
    .row
      = form_for Booking.new, url: bookings_path, method: :post do |booking|
        = hidden_field_tag :room_id, @room.id

        - if params[:refer].eql?('true')
          .panel.panel-default
            .panel-heading
              Step2: Patient's details
            .panel-body.box
              = booking.fields_for :friend, booking.object.build_friend do |friend|
                = render "form", object:  friend
        - else
          .panel.panel-default
            .panel-heading
              Step2: Need more details
            .panel-body.box
              = booking.fields_for :user, current_patient do |patient|
                = render "form", object:  patient              
        .actions
          = booking.submit "Book appointment", class: 'btn btn-primary'      




