<div class="panel panel-default">
  <div class="panel-heading">
    Create Your Beautiful Place
  </div>
  <div class="panel-body">
    <div class="container">
      <%= form_for @room, html: {multipart: true} do |f| %>
        <div class="row">

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Home Type</label>
              <%= f.select :home_type, [['Apartment', 'Apartment'], ['House', 'House'], ['Bed & Breakfast',
                'Bed & Breakfast']], id: 'home_type', prompt: 'Select...', class: 'form-control' %>
            </div>
          </div>

         

        <div class="row">
          <div class="form-group">
            <label>Listing Name</label>
            <%= f.text_field :listing_name, placeholder: 'Be clear and descriptive', class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Summary</label>
            <%= f.text_area :summary, rows: 5, placeholder: 'Tell the details about your place', class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            
            <label>Street</label>
            <%= f.text_field :street, placeholder: 'Where is the location of your place', class: 'form-control' %>
            <label>City</label>
            <%= f.text_field :city, placeholder: 'Where is the location of your place', class: 'form-control' %>
            <label>State</label>
            <%= f.text_field :state, placeholder: 'Where is the location of your place', class: 'form-control' %>
            <label>Zip Code</label>
            <%= f.text_field :zipcode, placeholder: 'Where is the location of your place', class: 'form-control' %>
            <label>Country</label>
            <%= f.text_field :country, placeholder: 'Where is the location of your place', class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= f.check_box :is_tv %> TV
            </div>
            <div class="form-group">
              <%= f.check_box :is_kitchen %> Kitchen
            </div>
            <div class="form-group">
              <%= f.check_box :is_internet %> Internet
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <%= f.check_box :is_air %> Air Conditioning
            </div>
            <div class="form-group">
              <%= f.check_box :is_heating %> Heating
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Rate per Night</label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <%= f.text_field :price, placeholder: 'eg. $100', class: 'form-control' %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <span class="btn btn-default btn-file">
                <%= icon('upload', 'Upload Photos', class:'fa-lg') %>
                <%= file_field_tag "images[]", type: :file, multiple: true %>
              </span>
            </div>
          </div>
        </div>

        <div id="photos">
          <%= render 'photos/list' %>
        </div>

        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <%= f.check_box :active %> Active
            </div>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Save", class: 'btn btn-primary' %>
        </div>

      <% end %>
    </div>
  </div>
</div>
