.panel.panel-default
  %h1
    Hello #{current_user.fullname}! Let's get you ready to list your practice.
  %h4 STEP 1:
  %h2 Tell us about yourself  your practice:
  .panel-body.nopadding
    = form_for @room, html: {multipart: true} do |f|
      .row
        .col-md-4
          %label My full name is:
          = f.text_field :listing_name, placeholder: 'Enter your full name...', class: 'form-control'
        .col-md-5
          %label My doctorate abbr. is:
          = f.select :degree, [[D.Au.,D.Au.],[D.B.H.,D.B.H.],[D.C.,D.C.],[D.C.M.,D.C.M.],[D.P.M.,D.P.M.],[D.S.M.,D.S.M.],[D.W.S.,D.W.S.],[D.C.Sc.,D.C.Sc.],[D.D.S.,D.D.S.],[D.M.D.,D.M.D.],[D.Env.Sc.,D.Env.Sc.],[D.H.A.,D.H.A.],[D.H.Sc.,D.H.Sc.],[D.H.S.,D.H.S.],[D.M.,D.M.],[D.Min.,D.Min.],[D.P.Th.,D.P.Th.],[D.B.S.,D.B.S.],[DCOUN.,DCOUN.],[DEDMIN,DEDMIN],[D.N.P.,D.N.P.],[D.N.A.P.,D.N.A.P.],[D.O.,D.O.],[D.O.T.,D.O.T.],[D.P.A.,D.P.A.],[D.P.M.,D.P.M.],[D.P.S.,D.P.S.],[D.P.T.,D.P.T.],[D.Psy,D.Psy],[Psy.D,Psy.D],[Psy.D,Psy.D],[D.S.L.P.,D.S.L.P.],[D.S.W.,D.S.W.],[D.V.M.,D.V.M.],[V.M.D.,V.M.D.],[J.D.,J.D.],[D.Jur.,D.Jur.],[M.D.,M.D.],[N.D.,N.D.],[N.M.D,N.M.D],[O.D.,O.D.],[Pharm.D,Pharm.D]], prompt: Select your professional degree..., class: form-control
        .col-md-3
          %label I'm an experienced:
          = f.select :category, [[Acupuncturist,Acupuncturist], [Allergist,Allergist], [Audiologist,Audiologist], [Cardiologist,Cardiologist], [Chiropractor,Chiropractor], [Dentist,Dentist], [Dermatologist,Dermatologist], [Dietitian,Dietitian], [Doctor,Doctor], [Ear, Nose  Throat Doctor,Ear, Nose  Throat Doctor], [Emergency Medicine Physician,Emergency Medicine Physician], [Endocrinologist,Endocrinologist], [Endodontist,Endodontist], [Eye Doctor,Eye Doctor], [Family Physician,Family Physician], [Gastroenterologist,Gastroenterologist], [Hand Surgeon,Hand Surgeon], [Hearing Specialist,Hearing Specialist], [Hematologist,Hematologist], [Infectious Disease Specialist,Infectious Disease Specialist], [Infertility Specialist,Infertility Specialist], [Internist,Internist], [Naturopathic Doctor,Naturopathic Doctor], [Nephrologist,Nephrologist], [Neurologist,Neurologist], [Neurosurgeon,Neurosurgeon], [Nurse Practitioner,Nurse Practitioner], [Nutritionist,Nutritionist], [OB-GYN,OB-GYN], [Oncologist,Oncologist], [Ophthalmologist,Ophthalmologist], [Optometrist,Optometrist], [Oral Surgeon,Oral Surgeon], [Orthodontist,Orthodontist], [Orthopedic Surgeon,Orthopedic Surgeon], [Pain Management Specialist,Pain Management Specialist], [Pediatric Dentist,Pediatric Dentist], [Pediatric Urgent Care Specialist,Pediatric Urgent Care Specialist], [Pediatrician,Pediatrician], [Periodontist,Periodontist], [Physiatrist,Physiatrist], [Physical Therapist,Physical Therapist], [Plastic Surgeon,Plastic Surgeon], [Podiatrist,Podiatrist], [Prosthodontist,Prosthodontist], [Psychiatrist,Psychiatrist], [Psychologist,Psychologist], [Psychotherapist,Psychotherapist], [Pulmonologist,Pulmonologist], [Radiologist,Radiologist], [Rheumatologist,Rheumatologist], [Sleep Medicine Specialist,Sleep Medicine Specialist], [Sports Medicine Specialist,Sports Medicine Specialist], [Surgeon,Surgeon], [Therapists / Counselor,Therapists / Counselor], [Travel Medicine Specialist,Travel Medicine Specialist], [Urgent Care Specialist,Urgent Care Specialist], [Urologist,Urologist], [Other...,Other]], prompt: Select a Category..., class: form-control
      %br/
      .row
        .col-md-12
          %label The name of my practice is:
          = f.text_field :practice, placeholder: 'Enter the name of your practice...', class: 'form-control'
        .col-md-12
          %br/
          %label The address to my practice is:
        .col-md-3
          %label Street
          = f.text_field :street, placeholder: 'Street', class: 'form-control'
        .col-md-3
          %label City
          = f.text_field :city, placeholder: 'City', class: 'form-control'
        .col-md-3.select
          %label State
          = f.select :state, [[Alabama,Alabama], [Alaska,Alaska], [Arizona,Arizona], [Arkansas,Arkansas], [California,California], [Colorado,Colorado], [Connecticut,Connecticut], [Delaware,Delaware], [Florida,Florida], [Georgia,Georgia], [Hawaii,Hawaii], [Idaho,Idaho], [Illinois,Illinois], [Indiana,Indiana], [Iowa,Iowa], [Kansas,Kansas], [Kentucky,Kentucky], [Louisiana,Louisiana], [Maine,Maine], [Maryland,Maryland], [Massachusetts,Massachusetts], [Michigan,Michigan], [Minnesota,Minnesota], [Mississippi,Mississippi], [Missouri,Missouri], [Montana,Montana], [Nebraska,Nebraska], [Nevada,Nevada], [New Hampshire,New Hampshire], [New Jersey,New Jersey], [New Mexico,New Mexico], [New York,New York], [North Carolina,North Carolina], [North Dakota,North Dakota], [Ohio,Ohio], [Oklahoma,Oklahoma], [Oregon,Oregon], [Pennsylvania,Pennsylvania], [Rhode Island,Rhode Island], [South Carolina,South Carolina], [South Dakota,South Dakota], [Tennessee,Tennessee], [Texas,Texas], [Utah,Utah], [Vermont,Vermont], [Virginia,Virginia], [Washington,Washington], [West Virginia,West Virginia], [Wisconsin,Wisconsin], [Wyoming,Wyoming]], prompt: Select a State..., class: form-control
        .col-md-3
          %label Zip Code
          = f.text_field :zipcode, placeholder: 'Zip Code', class: 'form-control'
          = f.hidden_field :country, :value = United States
  .panel.panel-default
    .panel-body.nopadding
      %h4 STEP 2:
      %h2 Help patients find you by telling them more about:
      %br/
      %br/
      .row
        .col-md-4
          %label Conditons I'm experienced treating:
          = f.fields_for :conditions do |f|
            = f.select :condition, [[White,White],[Black,Black]], prompt: Select Conditions..., class: form-control
        .col-md-4
          %label Procedures I currently offer in my practice:
          = f.fields_for :procedures do |f|
            = f.select :procedure, [['Red','Red'],['Orange','Orange']], prompt: Select Procedures..., class: form-control
        .col-md-4
          %label Insurance plans I currently accept in my practice:
          = f.fields_for :insurances do |f|
            = f.select :insurance_provider, [['American','American'],['Red Cross','Red Cross']], prompt: Select Insurance Providers.., class: form-control
      %br/
      .row
        .col-md-4
          %label Languages I speak:
          = f.fields_for :languages do |f|
            = f.select :language, [['English','English'],['Spanish','Spanish']], prompt: Select Conditions..., class: form-control
        .col-md-4
          %label My gender:
          = f.select :gender, [['Male','Male'],['Female','Female']], prompt: Select Gender..., class: form-control
        .col-md-4
          %label Cost of initial consultation:
          .input-group
            .input-group-addon $
            = f.text_field :price, placeholder: 'eg. $100', class: 'form-control'
  .panel.panel-default
    .panel-body.nopadding
      %h4 STEP 3:
      %h2 Enhance your profile:
      %br/
      .row
        .col-md-4
          %label Upload your picture:
          %span.btn.btn-default.btn-file
            = icon('upload', 'Upload Photo', class:'fa-lg')
            = file_field_tag images[], type: :file, multiple: true, onchange: readURL(this);
          = succeed "," do
            %img#image_preview{:src => "javascript:void(0)"}/
        .col-md-8
          .col-md-12
            %label Add your biography:
            = f.text_area :biography, :cols = 10, :rows = 10, class: form-control
          .col-md-12
            %label Add your education:
            .col-md-12
              %label Name of school:
              = f.fields_for :educations do |f|
                = f.text_field :school, placeholder: 'Enter the name of the school', class: 'form-control'
                %label Graduation Year:
                = f.date_select :date
        .row
          .col-md-4
            %img#image_preview{:src => "javascript:void(0)"}>/
            , class="hide"/&gt;
        #photos
          = render 'photos/list'
        .row
          .col-md-2
            .form-group
              = f.check_box :active
              Active
        .actions
          = f.submit Save, class: 'btn btn-primary'
