.panel.panel-default

  .row
    .col-md-12

      .row
        .col-md-6
          %h3 
            Educations
            - if @owner
              %a{href: edit_room_path(education: true) }
                %button.btn-circle.btn.btn-primary{:type => "button"}
                  %i.glyphicon.glyphicon-plus 
          %ul        
            - @room.educations.each do |education|
              %li.small
                = education.school
                (
                = education.date
                )


        .col-md-6
          %h3 
            Conditions
            - if @owner
              %a{href: edit_room_path(condition: true) }
                %button.btn-circle.btn.btn-primary{:type => "button"}
                  %i.glyphicon.glyphicon-edit
          %ul          
            - @room.conditions.each do |condition|
              %li.small
                = condition.condition

      .row    
        .col-md-6
          %h3 
            Insurances
            - if @owner
              %a{href: edit_room_path(insurance: true) }
                %button.btn-circle.btn.btn-primary{:type => "button"}
                  %i.glyphicon.glyphicon-plus             
          %ul                  
            - @room.insurances.each do |insurance|
              %li.small
                = insurance.insurance_provider

        .col-md-6
          %h3 
            Procedures
            - if @owner
              %a{href: edit_room_path(procedure: true) }
                %button.btn-circle.btn.btn-primary{:type => "button"}
                  %i.glyphicon.glyphicon-plus             
          %ul                  
            - @room.procedures.each do |procedure|
              %li.small
                = procedure.procedure


      .row    
        .col-md-8
          %h3 
            Languages
            - if @owner
              %a{href: edit_room_path(language: true) }
                %button.btn-circle.btn.btn-primary{:type => "button"}
                  %i.glyphicon.glyphicon-plus 
          %ul        
            - @room.languages.each do |language|
              %li.small
                = language.language

      - if current_user && @owner          
        .row    
          .col-md-8
            = render "bookings"

      .col-md-8
        %h3
          Reviews
          %span#average_rating
          (#{@reviews.count})
        = render 'reviews/form' if current_user && !@owner
        .mt-20
          = render 'reviews/list'

- content_for :javascript do
  :javascript
    alert("Google Map is hide for now added in to do task");  
