<div class="row">
  <%= render '/shared/sidebarnav' %>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        My Listings
      </div>
      <div class="panel-body">
        <% @rooms.each do |room| %>
          <div class="row">
            <div class="col-md-2">
              <%= image_tag room.photos[0].image.url(:thumb) if room.photos.length > 0 %>
            </div>
            <div class="col-md-7">
              <h4><%= room.listing_name %></h4>
              <p><%= room.full_street_address %></p>
              </div>
            <div class="col-md-3 right">
              <%= link_to 'Edit', edit_room_path(room), class: 'btn btn-primary btn-block' %>
                <%= link_to 'View', room_path(room), class: 'btn btn-default btn-block' %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
