- @owner = (current_user == @room.user) ? true : false

- @upgraded = (@room.is_upgraded?) ? true : false

.container
  .my-50

    = render "card"
    = render "profile"
    = render "photos"
    = render "near_by"

  
- content_for :javascript do 
  :javascript
    $('#average_rating').raty ({
    readOnly: true,
    score: #{@room.average_rating}
    });
