.container
  .my-50
    .row

      %h3.text-center
        Hello #{current_user.fullname}! Let's get you ready to list your practice.

      = form_for(Room.new, url: room_steps_path, method: :post) do |room|
        .panel.panel-default
          .panel-heading Step1: Tell us about your practice
          .panel-body
            .form-group
              = room.text_field :listing_name, placeholder: 'Enter your full name', class: 'form-control'
            .form-group
              = room.select :degree, Degree.all.map{|degree| [degree.name, degree.name]}, include_blank: 'Select your professional degree', placeholder: 'Select your professional degree'  
            .form-group
              = room.select :gender, [['Male','Male'],['Female','Female']], include_blank: 'Select gender', class: 'form-control' 
            .form-group
              = room.date_field :dob, placeholder: 'Enter your DOB', class: 'form-control'
            .form-group
              = room.text_field :medical_license_number, placeholder: 'Enter your medical license number', class: 'form-control'  

            .form-group
              = room.select :category, Category.all.map{|category| [category.name, category.name]}, placeholder: 'I am an experienced', include_blank: 'I am an experienced'
            .form-group
              = room.text_field :practice, placeholder: 'Enter the name of your practice', class: 'form-control'      
            .form-group
              = room.text_field :address, placeholder: 'Enter a location', class: 'form-control'
        .actions.pull-right
          = room.submit "Continue" , class: 'btn btn-primary'
