.panel.panel-default
  .panel-body.nopadding
    %h4 STEP 2:
    %h2 Help patients find you by telling them more about:
    %br/
    %br/
    = form_for(@room, url: wizard_path(:step_second), method: :put) do |f|
      = hidden_field_tag :room_id , params[:room_id]
      - @room.conditions.build
      - @room.procedures.build
      - @room.insurances.build
      - @room.languages.build
      .row
        .col-md-4
          %label Conditons I'm experienced treating:
          = f.fields_for :conditions do |f|
            = f.select :condition, [["White","White"],["Black","Black"]], prompt: "Select Conditions...", class: "form-control"
        .col-md-4
          %label Procedures I currently offer in my practice:
          = f.fields_for :procedures do |f|
            = f.select :procedure, [['Red','Red'],['Orange','Orange']], prompt: "Select Procedures...", class: "form-control"
        .col-md-4
          %label Insurance plans I currently accept in my practice:
          = f.fields_for :insurances do |f|
            = f.select :insurance_provider, [['American','American'],['Red Cross','Red Cross']], prompt: "Select Insurance Providers..", class: "form-control"
      %br/
      .row
        .col-md-4
          %label Languages I speak:
          = f.fields_for :languages do |f|
            = f.select :language, [['English','English'],['Spanish','Spanish']], prompt: "Select Conditions...", class: "form-control"
        .col-md-4
          %label My gender:
          = f.select :gender, [['Male','Male'],['Female','Female']], prompt: "Select Gender...", class: "form-control"
        .col-md-4
          %label Cost of initial consultation:
          .input-group
            .input-group-addon $
            = f.text_field :price, placeholder: 'eg. $100', class: 'form-control'
      .actions.pull-right
        = f.submit "Continue" , class: "btn btn-default"
