<div class="panel panel-default">
  <h1>Hello <%= current_user.fullname %>! Let's get you ready to list your practice.</h1><br/><br/>
  <h4>STEP 1:</h4>
  <h2>Tell us about yourself & your practice:</h2><br/><br/>
  <div class="panel-body nopadding">

      <%= form_for @room, url: room_steps_path, method: :post do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>

       
        <div class="row">
          
          <div class="col-md-4">
            <label>My full name is:</label>
            <%= f.text_field :listing_name, placeholder: 'Enter your full name...', class: 'form-control' %>
          </div>
          <div class="col-md-5">
            <label>My doctorate abbr. is:</label>
            <%= f.select :degree, [["D.Au.","D.Au."],["D.B.H.","D.B.H."],["D.C.","D.C."],["D.C.M.","D.C.M."],["D.P.M.","D.P.M."],["D.S.M.","D.S.M."],["D.W.S.","D.W.S."],["D.C.Sc.","D.C.Sc."],["D.D.S.","D.D.S."],["D.M.D.","D.M.D."],["D.Env.Sc.","D.Env.Sc."],["D.H.A.","D.H.A."],["D.H.Sc.","D.H.Sc."],["D.H.S.","D.H.S."],["D.M.","D.M."],["D.Min.","D.Min."],["D.P.Th.","D.P.Th."],["D.B.S.","D.B.S."],["DCOUN.","DCOUN."],["DEDMIN","DEDMIN"],["D.N.P.","D.N.P."],["D.N.A.P.","D.N.A.P."],["D.O.","D.O."],["D.O.T.","D.O.T."],["D.P.A.","D.P.A."],["D.P.M.","D.P.M."],["D.P.S.","D.P.S."],["D.P.T.","D.P.T."],["D.Psy","D.Psy"],["Psy.D","Psy.D"],["Psy.D","Psy.D"],["D.S.L.P.","D.S.L.P."],["D.S.W.","D.S.W."],["D.V.M.","D.V.M."],["V.M.D.","V.M.D."],["J.D.","J.D."],["D.Jur.","D.Jur."],["M.D.","M.D."],["N.D.","N.D."],["N.M.D","N.M.D"],["O.D.","O.D."],["Pharm.D","Pharm.D"]], prompt: "Select your professional degree...", class: "form-control" %>
          </div>
          <div class="col-md-3">
            <label>I'm an experienced:</label>
             <%= f.select :category, [["Acupuncturist","Acupuncturist"], ["Allergist","Allergist"], ["Audiologist","Audiologist"], ["Cardiologist","Cardiologist"], ["Chiropractor","Chiropractor"], ["Dentist","Dentist"], ["Dermatologist","Dermatologist"], ["Dietitian","Dietitian"], ["Doctor","Doctor"], ["Ear, Nose & Throat Doctor","Ear, Nose & Throat Doctor"], ["Emergency Medicine Physician","Emergency Medicine Physician"], ["Endocrinologist","Endocrinologist"], ["Endodontist","Endodontist"], ["Eye Doctor","Eye Doctor"], ["Family Physician","Family Physician"], ["Gastroenterologist","Gastroenterologist"], ["Hand Surgeon","Hand Surgeon"], ["Hearing Specialist","Hearing Specialist"], ["Hematologist","Hematologist"], ["Infectious Disease Specialist","Infectious Disease Specialist"], ["Infertility Specialist","Infertility Specialist"], ["Internist","Internist"], ["Naturopathic Doctor","Naturopathic Doctor"], ["Nephrologist","Nephrologist"], ["Neurologist","Neurologist"], ["Neurosurgeon","Neurosurgeon"], ["Nurse Practitioner","Nurse Practitioner"], ["Nutritionist","Nutritionist"], ["OB-GYN","OB-GYN"], ["Oncologist","Oncologist"], ["Ophthalmologist","Ophthalmologist"], ["Optometrist","Optometrist"], ["Oral Surgeon","Oral Surgeon"], ["Orthodontist","Orthodontist"], ["Orthopedic Surgeon","Orthopedic Surgeon"], ["Pain Management Specialist","Pain Management Specialist"], ["Pediatric Dentist","Pediatric Dentist"], ["Pediatric Urgent Care Specialist","Pediatric Urgent Care Specialist"], ["Pediatrician","Pediatrician"], ["Periodontist","Periodontist"], ["Physiatrist","Physiatrist"], ["Physical Therapist","Physical Therapist"], ["Plastic Surgeon","Plastic Surgeon"], ["Podiatrist","Podiatrist"], ["Prosthodontist","Prosthodontist"], ["Psychiatrist","Psychiatrist"], ["Psychologist","Psychologist"], ["Psychotherapist","Psychotherapist"], ["Pulmonologist","Pulmonologist"], ["Radiologist","Radiologist"], ["Rheumatologist","Rheumatologist"], ["Sleep Medicine Specialist","Sleep Medicine Specialist"], ["Sports Medicine Specialist","Sports Medicine Specialist"], ["Surgeon","Surgeon"], ["Therapists / Counselor","Therapists / Counselor"], ["Travel Medicine Specialist","Travel Medicine Specialist"], ["Urgent Care Specialist","Urgent Care Specialist"], ["Urologist","Urologist"], ["Other...","Other"]], prompt: "Select a Category...", class: "form-control" %>
          </div>
        </div>

<br/>
        <div class="row">
         
          <div class="col-md-12">
            <label>The name of my practice is:</label>
            <%= f.text_field :practice, placeholder: 'Enter the name of your practice...', class: 'form-control' %>
          </div>
          <div class="col-md-12"><br/>
          <label>The address to my practice is:</label>

         </div>
            <div class="col-md-3">

              <label>Street</label>
              <%= f.text_field :street, placeholder: 'Street', class: 'form-control' %>
            </div>
            <div class="col-md-3">
              <label>City</label>
              <%= f.text_field :city, placeholder: 'City', class: 'form-control' %>
            </div>
            <div class="col-md-3 select">
              <label>State</label>
              <%= f.select :state, [["Alabama","Alabama"], ["Alaska","Alaska"], ["Arizona","Arizona"], ["Arkansas","Arkansas"], ["California","California"], ["Colorado","Colorado"], ["Connecticut","Connecticut"], ["Delaware","Delaware"], ["Florida","Florida"], ["Georgia","Georgia"], ["Hawaii","Hawaii"], ["Idaho","Idaho"], ["Illinois","Illinois"], ["Indiana","Indiana"], ["Iowa","Iowa"], ["Kansas","Kansas"], ["Kentucky","Kentucky"], ["Louisiana","Louisiana"], ["Maine","Maine"], ["Maryland","Maryland"], ["Massachusetts","Massachusetts"], ["Michigan","Michigan"], ["Minnesota","Minnesota"], ["Mississippi","Mississippi"], ["Missouri","Missouri"], ["Montana","Montana"], ["Nebraska","Nebraska"], ["Nevada","Nevada"], ["New Hampshire","New Hampshire"], ["New Jersey","New Jersey"], ["New Mexico","New Mexico"], ["New York","New York"], ["North Carolina","North Carolina"], ["North Dakota","North Dakota"], ["Ohio","Ohio"], ["Oklahoma","Oklahoma"], ["Oregon","Oregon"], ["Pennsylvania","Pennsylvania"], ["Rhode Island","Rhode Island"], ["South Carolina","South Carolina"], ["South Dakota","South Dakota"], ["Tennessee","Tennessee"], ["Texas","Texas"], ["Utah","Utah"], ["Vermont","Vermont"], ["Virginia","Virginia"], ["Washington","Washington"], ["West Virginia","West Virginia"], ["Wisconsin","Wisconsin"], ["Wyoming","Wyoming"]], prompt: "Select a State...", class: "form-control" %>
            </div>
            <div class="col-md-3">
              <label>Zip Code</label>
              <%= f.text_field :zipcode, placeholder: 'Zip Code', class: 'form-control' %>
           
               <%= f.hidden_field :country, :value => "United States" %>
           </div>
            
        </div>
    <div class="actions pull-right">
        <%= f.submit "Continue" , class: "btn btn-default" %>
    </div>
  <% end %>        
  </div>
</div>